.hero{
  height: 80vh;
  padding: 25px;
}
.hero-content{
  display: flex;
  padding-inline: 110px;
  gap:30px;
  justify-content: space-between;
  break-after: 10px;
  margin-top: 70px;
}
.hero-left{
  max-width: 50%;
  margin-top: 100px;
}
.hero-left h2{
  font-size: 45px;
}
.hero-left h1{
  font-size: 70px;
}
.hero-left p{
  font-size: 20px;
  margin-top: 15px;
  color: #666;
}

.hero_img{
  display: inline-block;
  border: 8px solid #212531;
  width: 350px;
  padding: 20px;
  border-radius: 15px;
}
.hero_img img{
  width: 620px;
  height: 480px;
  object-fit: contain;
  margin-left: -8.3rem;
}